.App {
  text-align: center;
}

menu {
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
  background-color: #fff;
  a {
    margin: 0 10px;
    padding: 4px 5px;
    color: #61dafb;
  }
}
